.task {
    padding: 15px 10px;
    border-bottom: 5px solid #004d40;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.5);
    border-radius: 10px;
    transition: 0.5s;
    transform: scaleX(0);
    animation: task-show 1s cubic-bezier(.95,.87,.81,.64) forwards;
}

.task:hover {
    border-bottom: 5px solid #009688;
}

.task__btn-close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

@keyframes task-show {
    50% {
        transform: scaleX(1.2);
    }
    100% {
        transform: scaleX(1);
    }
}