*,
*::before,
*::after {
  margin: 0;
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
  color: #37474f;
}

.App {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  margin: 15px 0;
}
